doctype html
html
  head
    title= __('name') + " - " + __('title')
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js")
    link(rel="shortcut icon" href="/favicon.ico")
    link(href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/vendor/@material-design-icons/font/two-tone.css')
    link(rel='stylesheet' href='/vendor/animate.css/animate.min.css')
    link(rel='stylesheet' href='/css/screen.css' media="screen")
    block head

  body(lang=__('language'))
    block content
