#header-container.row
  .col-3.d-none.d-print-none.d-sm-block.align-self-center
    img#photo(src="img/profile-bguina.png")
  #header.col-12.col-sm-6.col-print-12
    .text-center
      h1=__('name')
      h2=__('title')
