html, body {
  background-image: url('/img/bg.jpg');
}

#navbar-padding {
  transition: padding-top 0.2s ease;
  padding-top: 4em;
  @media (max-width: 992px) {
    padding-top: 2.6em;
  }
}

section {
  padding-bottom: .4em;
}

.content {
  box-shadow: 0px 0px .2em 0px rgba(0,0,0,0.10);
}
